<div class="wrap">
    <h1>DJAF</h1>
</div>

<div class="main">
    <h2>Current Mixes</h2>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/785918719&color=%233e3f3c&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
</div>

